<div class="mt-3 pt-5 pb-5 footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2 class="text-white">DreamTeam Footer</h2>
                <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
            </div>
        </div>
    </div>
</div>
