<section class="jumbotron text-center bg-dark">
  <div class="container">
    <h1 class="text-white">Meet The Dream Team</h1>
    <p class="lead text-white">Something Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nisi natus corrupti, porro obcaecati officia dolor similique eum quia atque quod sunt labore dolores. Pariatur illum culpa alias nesciunt eum.</p>
  </div>
</section>

<div class="album bg-dark">
  <div class="container">

    <div class="row align-items-center d-flex justify-content-center">
      <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
          <img class="profile-img" src="aj.jpg" alt="andrew" width="225" height="225">
          <div class="card-body">
            <p class="card-text text-center text-white h3">Andrew Novobilski</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="#" role="button">LinkedIn</a>
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="#" role="button">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-4">
        <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
          <img class="profile-img" src="blank.png" alt="ben" width="225" height="225">
          <div class="card-body">
            <p class="card-text text-center text-white h3">Ben Shostak</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="#" role="button">LinkedIn</a>
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="#" role="button">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-xs-6 col-sm-6 col-lg-4">
        <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
          <img class="profile-img" src="ivan.jpg" alt="ivan" width="225" height="225">
          <div class="card-body">
            <p class="card-text text-center text-white h3">Ivan Flores</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="https://www.linkedin.com/in/ivan-f-silvar" role="button">LinkedIn</a>
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="https://github.com/ifsilvar" role="button">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-xs-6 col-sm-6 col-lg-4">
        <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
          <img class="profile-img" src="josh.jpg" alt="josh" width="225" height="225">
          <div class="card-body">
            <p class="card-text text-center text-white h3">Joshua Marty</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="#" role="button">LinkedIn</a>
                <a class="btn btn-sm btn-outline-warning my-button text-white text-override" href="#" role="button">Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-xs-6 col-sm-6 col-lg-4">
        <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
          <img class="profile-img" src="lesly.jpg" alt="lesley" width="225" height="225">
          <div class="card-body">

            <p class="card-text text-center">Lesley Worden</p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-warning my-button" href="www.linkedin.com/in/lesleyworden" role="button">LinkedIn</a>
                <a class="btn btn-sm btn-outline-warning my-button" href="https://github.com/Lesleyworden" role="button">Github</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>