    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 25px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  <section class="jumbotron text-center bg-dark">
    <div class="container">
      <h1 class="text-white">Meet The Dream Team</h1>
      <p class="lead text-white">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    </div>
  </section>

  <div class="album bg-dark">
    <div class="container">

      <div class="row align-items-center d-flex justify-content-center">
        <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
            <img class="profile-img" src="blank.png" alt="ivan" width="225" height="225">
            <div class="card-body">
              <p class="card-text d-flex justify-content-center align-items-center">Andrew Novobilski</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning">LinkedIn</button>
                  <button type="button" class="btn btn-sm btn-outline-warning">Github</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
            <img class="profile-img" src="blank.png" alt="ivan" width="225" height="225">
            <div class="card-body">
              <p class="card-text d-flex justify-content-center align-items-center">Ben Shostak</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning">LinkedIn</button>
                  <button type="button" class="btn btn-sm btn-outline-warning">Github</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-xs-6 col-sm-6 col-lg-4">
          <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
            <img class="profile-img" src="ivan.jpg" alt="ivan" width="225" height="225">
            <div class="card-body">
              <p class="card-text d-flex justify-content-center align-items-center">Ivan Flores</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning">LinkedIn</button>
                  <button type="button" class="btn btn-sm btn-outline-warning">Github</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-xs-6 col-sm-6 col-lg-4">
          <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
            <img class="profile-img" src="josh.jpg" alt="ivan" width="225" height="225">
            <div class="card-body">
              <p class="card-text d-flex justify-content-center align-items-center">Joshua Marty</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning">LinkedIn</button>
                  <button type="button" class="btn btn-sm btn-outline-warning">Github</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-xs-6 col-sm-6 col-lg-4">
          <div class="card mb-4 shadow-sm align-items-center d-flex justify-content-center">
            <img class="profile-img" src="lesly.jpg" alt="ivan" width="225" height="225">
            <div class="card-body">
              <p class="card-text d-flex justify-content-center align-items-center">Leslie Worden</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning">LinkedIn</button>
                  <button type="button" class="btn btn-sm btn-outline-warning">Github</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>