<div class="container" id="homepage-container">
    <div class="row">
        <div class="col">
            <h1 class="display-3 text-white text-center">Welcome to Dream Team!</h1>
        </div>
    </div>
    <div class="align-center">
        <div class="row homepage-display d-flex align-content-center">
            <div class="col-4">
                <a href="/create-team" class="btn btn-lg css-selector text-white">Create Team</a>
            </div>
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-lg dropdown-toggle css-selector" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Update Team
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                        {{#each userTeams as |team|}}
                        <li><a class="dropdown-item" href="/update-team/{{team.id}}">{{team.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <a href="/game" class="btn btn-lg css-selector text-white">Run Game</a>
            </div>
        </div>
    </div>

</div>