<div class="container" id="homepage-container">
    <div class="row text-center">
        <div class="col">
            <h1 class="display-1 text-white text-center">Welcome to Dream Team!</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-md-4 my-4">
            <a href="/create-team" class="btn btn-lg w-100 css-selector text-white"><i class="fas fa-user-friends me-2"></i>Create Team</a>
        </div>
        <div class="col-12 col-md-4 my-4">
            <div class="dropdown">
                <button class="btn btn-secondary btn-lg w-100 dropdown-toggle css-selector" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-clipboard-list-check me-2"></i>Update Team
                </button>
                <ul class="dropdown-menu dropdown-menu-dark w-100 text-center" aria-labelledby="dropdownMenuButton">
                    {{#each userTeams as |team|}}
                    <li><a class="dropdown-item" href="/update-team/{{team.id}}">{{team.name}}</a></li>
                    {{/each}}
                    <li><a class="dropdown-item" href="/create-team">+ New Team</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-4 my-4">
            <a href="/game" class="btn btn-lg w-100 css-selector text-white"><i class="fas fa-basketball-hoop me-2"></i>Run Game</a>
        </div>
    </div>

</div>