<div class="container" id="homepage-container">
    <div class="row">
        <div class="col-4">
            <a href="/create-team" class="btn btn-primary">Create Team</a>
        </div>
        <div class="col-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Update Team
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#each userTeams as |team|}}
                    <li><a class="dropdown-item" href="/update-team/{{team.id}}">{{team.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <a href="/game" class="btn btn-primary">Run Game</a>
        </div>
    </div>
</div>
