
    <div class="container" id="homepage-container">
        <div class="row border border-primary">
            <!-- left column -->
            <div class="col-xs-12 col-md-2 col-lg-2 border border-danger" id="leftCol">
                left column
                <div class="container">
                    <div class="row">
                        <div class="col border border-danger align-items-center">
                            My Teams
                        <button type="button" class="btn btn-primary btn-sm">
                            Create Team
                        </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary">
                        Create Team
                    </button>
                </div>
            </div>
            <!-- body -->
            <div class="col-xs-12 col-md-8 col-lg-8 border border-danger" id="bodyCol">
                body
            </div>
            <!-- right column -->
            <div class="col-xs-12 col-md-2 col-lg-2 border border-danger" id="rightCol">
                right column
                <div class="container">
                    <div class="row">
                        <div class="col border border-danger">
                            Game Ticker
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
