{{!-- Container for sign in and register cards --}}
  <div class="row align-middle d-flex justify-content-center align-items-center img-fluid center" id="login-container">
      <div class="col-sm-12 col-md-12 col-lg-6">
            {{!-- Sign in card --}}
            <div id="sign" class="card mb-3 mx-auto d-flex justify-content-center animate fadeInLeft">
              <div class="row no-gutters align-items-center d-flex justify-content-center">
                  <h1 for="signIn" class="form-label">Sign In</h1>
                  {{!-- Sign in form --}}
                  <form class="signin-form">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" placeholder="example@mail.com" id="email-login" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" placeholder="************" id="password-login">
                    </div>
                    <button type="submit" class="btn btn-primary" >Sign In</button>
                  </form>
              </div>
            </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6">
            {{!-- Register Card --}}
            <div id="reg" class="card mb-3 mx-auto d-flex justify-content-center animate fadeInRight">
              <div class="row no-gutters align-items-center d-flex justify-content-center">
                  <h1 for="signIn" class="form-label">Register</h1>
                  {{!-- Register form --}}
                  <form class="register-form">
                    <div class="mb-2">
                    <label for="exampleInputName" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="First name" id="name-signup" aria-label="First name">
                    </div>
                    <div class="mb-2">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" placeholder="example@mail.com" id="email-signup" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-2">
                      <label for="exampleInputPassword1" class="form-label">
                        <div class="popup" onclick="myFunction()">
                          Password <i class="far fa-question-circle"></i>
                          <span class="popuptext" id="myPopup">Include 8 Characters at least 1 Upper, Lower, Number, Special Character</span>
                        </div>
                      </label>
                      <input type="password" class="form-control" placeholder="************" id="password-signup">
                    </div>
                    <button type="submit" class="btn btn-success" id="btn-reg">Register</button>
                  </form>
              </div>
                    <div class="row justify-content-end" id="pw-bulletin">
                      <div class="col-2"></div>
                    </div>
          </div>
      </div>
    </div>

<script src="/js/pw-validation.js"></script>
<script src="/js/login.js"></script>