
    <div class="container">
        <!-- Image and text -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
                Bootstrap
            </a>
            </div>
        </nav>
        <div class="row border border-primary">
            <!-- left column -->
            <div class="col col-md-2 col-lg-2 border border-danger">
                left column
                <div class="container">
                    <div class="row">
                        <div class="col border border-danger">
                            My Teams
                        </div>
                        <button type="button" class="btn btn-primary">
                            Create Team
                        </button>
                    </div>
                </div>
            </div>
            <!-- body -->
            <div class="col col-md-8 col-lg-8 border border-danger">
                body
            </div>
            <!-- right column -->
            <div class="col col-md-2 col-lg-2 border border-danger">
                right column
                <div class="container">
                    <div class="row">
                        <div class="col border border-danger">
                            Game Ticker
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
