/* Top Buttons */
.sim-button {
    width: 128px;
}

/* Dropdown Buttons */
.sim-dropdown {
    max-width: 140px;
    overflow: hidden;

}

/* Player Cards */
.sim-player-card {
    background-color: rgba(0, 0, 0, 0.8);
    color: #d3b300;
    box-shadow: 5px 5px 8px black;
}

/* Court Container */
.center {
  margin: auto;
  width: 100%;
}

.backdrop {
  position: relative;
}

.scoreboard {
  position: absolute;
  right: 0;
  top: 25%;
  left: 0%;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  padding: 1rem;
  border-style: solid;
  border-color: #d3b300;
  border-width: 2px;
  color: #d3b300;
}

/* Text Sizing and Positioning*/
.sim-player-name {
  font-size: 1.2em;
}

.board-text {
  font-size: 2em;
}

@font-face {
  font-family: Digital;
  src: url(/fonts/CursedTimerUlil-Aznm.ttf);
}

.score-text {
  font-family: Digital;
  font-size: 4em;
}

@media only screen and (max-width: 1200px) {
  .sim-player-name {
    font-size: 0.85em;
  }
  .scoreboard {
    top: 30%;
  }
}

@media only screen and (max-width: 992px) {
  .scoreboard {
    top: 32%;
  }
  .score-text {
    font-size: 3.2em;
  }
  .board-text {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 769px) {
  .sim-player-name {
    font-size: 1.5em;
  }
  .scoreboard {
    top: 25%;
  }
}

@media only screen and (max-width: 576px) {
  .sim-player-name {
    font-size: 0.9em;
  }
  .scoreboard {
    top: 20%;
  }
  .score-text {
    font-size: 2.4em;
  }
  .board-text {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 324px) {
  .sim-player-name {
    font-size: 0.8em;
  }
  .scoreboard {
    top: 10%;
  }
  .score-text {
    font-size: 2em;
  }
  .board-text {
    font-size: 0.8em;
  }
  .simButton {
    width: 100px;
    font-size: 0.8em;
  }
}
